input {
    display: block;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    background-color: #99f;
    border-radius: 20px;
    font-family: lcars;
    font-size: 1.8rem;
    cursor: pointer;
}