@model LCARS.ViewModels.Builds.BuildStatus

@section refresh
{
    @if (Model.AutoRefresh)
    {
        <meta http-equiv="refresh" content="30; URL=/">
    }
}

<div class="stats">
    <div class="row buildStatusRow">
        @foreach (var build in Model.Builds)
        {
            <div class="fourColumnA">@build.Name</div>
            <div data-typeid="@(build.TypeId.ToString())" class="build fourColumnB"><div class="buildStatusProgress unreachable">Loading...</div></div>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/buildProgress.js"></script>
}