<?xml version="1.0" encoding="utf-8" ?>
<Builds>
  <Build Name="Base" TypeId="895" />
  <Build Name="21" TypeId="1366" />
  <Build Name="Bingo Godz" TypeId="1092" />
  <Build Name="Bingo Stars" TypeId="1091" />
  <Build Name="Crown Bingo" TypeId="1338" />
  <Build Name="Grosvenor" TypeId="1087" />
  <Build Name="Health Bingo" TypeId="1093" />
  <Build Name="High 5" TypeId="1420" />
  <Build Name="Mecca Bingo" TypeId="1258" />
  <Build Name="Pink Casino" TypeId="1319" />
  <Build Name="Slot Boss" TypeId="1311" />
  <Build Name="Slot Mob" TypeId="1094" />
  <Build Name="STV" TypeId="1095" />
</Builds>