@page "/admin/bitbucket"

@inject HttpClient Http

@using LCARS.Data
@using System.ComponentModel.DataAnnotations

@if (settings is null)
{
    <Loading />
}
else
{
    if (error != null)
    {
        <InputError Text="@error" />
    }
    else
    {
        <Header Text="BitBucket Admin" />
    }
    <EditForm Model=@settings OnValidSubmit=@FormSubmitted OnInvalidSubmit=@InvalidFormSubmitted>
        <DataAnnotationsValidator />
        <div>
            <label>Enabled</label>
            <InputCheckbox @bind-Value=settings.Enabled />
        </div>
        <div>
            <label>Username</label>
            <InputText @bind-Value=settings.Username />
        </div>
        <div>
            <label>Password</label>
            <InputText @bind-Value=settings.Password/>
        </div>
        <div>
            <label>Owner</label>
            <InputText @bind-Value=settings.Owner />
        </div>
        <div>
            <label>Repositories</label>
            <InputTextArea @bind-Value=settings.Repositories />
        </div>
        <div>
            <label>Branch Threshold</label>
            <InputNumber @bind-Value=settings.BranchThreshold />
        </div>
        <div>
            <label>Pull Request Threshold</label>
            <InputNumber @bind-Value=settings.PullRequestThreshold />
        </div>
        <SaveButton />
    </EditForm>
}

@code {
    string? error;
    BitBucketModel settings = new();

    public record BitBucketModel
    {
        public bool Enabled { get; set; }
        [Required]
        public string Username { get; set; }
        [Required]
        public string Password { get; set; }
        [Required]
        public string Owner { get; set; }
        [Required]
        public string Repositories { get; set; }
        [Required]
        public int PullRequestThreshold { get; set; }
        [Required]
        public int BranchThreshold { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        var currentSettings = await Http.GetFromJsonAsync<Settings>("settings");

        settings = new()
            {
                Enabled = currentSettings.BitBucketSettings.Enabled,
                Username = currentSettings?.BitBucketSettings?.Username ?? "",
                Password = currentSettings?.BitBucketSettings?.Password ?? "",
                Owner = currentSettings?.BitBucketSettings?.Owner ?? "",
                Repositories = string.Join(",", currentSettings?.BitBucketSettings?.Repositories ?? Enumerable.Empty<string>()),
                PullRequestThreshold = currentSettings?.BitBucketSettings?.PullRequestThreshold ?? 0,
                BranchThreshold = currentSettings?.BitBucketSettings?.BranchThreshold ?? 0,
            };
    }

    async Task FormSubmitted(EditContext editContext)
    {
        await Http.PostAsJsonAsync<Settings.BitBucketSettingsModel>("settings/bitbucket", new Settings.BitBucketSettingsModel
            {
                Enabled = settings.Enabled,
                Username = settings.Username,
                Password = settings.Password,
                Owner = settings.Owner,
                Repositories = settings.Repositories.Split(",", StringSplitOptions.RemoveEmptyEntries),
                BranchThreshold = settings.BranchThreshold,
                PullRequestThreshold = settings.PullRequestThreshold
            });
    }

    void InvalidFormSubmitted(EditContext editContext)
    {
        error = "Invalid. Please Try Again.";
    }
}