@model LCARS.Models.RedAlert

@section refresh
{
    <meta http-equiv="refresh" content="10" />
}

@section header {
    <link href="/Content/redAlert.css" rel="stylesheet" />
}

<div class="destruct">
    <div class="destruct-bar destruct-bar-large"></div>
    <div class="destruct-bar destruct-bar-medium"></div>
    <div class="destruct-bar destruct-bar-small"></div>
    <div class="destruct-clock">
        @Model.AlertType Alert<br />
        <span id="hoursRemaining"></span> : <span id="minutesRemaining"></span> : <span id="secondsRemaining"></span> : <span id="millisecondsRemaining"></span>
    </div>
    <div class="destruct-bar destruct-bar-small"></div>
    <div class="destruct-bar destruct-bar-medium"></div>
    <div class="destruct-bar destruct-bar-large"></div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/RedAlert.js"></script>
    <script type="text/javascript">getTimeRemaining(@Model.IsEnabled.ToString().ToLower(), new Date("@(Model.TargetDate)"));</script>
    <script type="text/javascript">
        $("#mainBody").removeClass("clearFont");
    </script>
}
