@model LCARS.ViewModels.RedAlert

@using (Html.BeginForm())
{
    <div class="destruct-admin">
        <div>
            <span>Enabled</span> @Html.CheckBoxFor(m => m.IsEnabled)
        </div>
        <div>
            <span>Target Date</span> @Html.TextBoxFor(m => m.TargetDate)
        </div>
        <div style="margin-top: 10px">
            <span>Alert Type</span> @Html.TextBoxFor(m => m.AlertType)
        </div>
        <div>
            <input type="submit" name="save" value="Save" />
        </div>
    </div>
}