@section refresh
{
    <meta http-equiv="refresh" content="10" />
}

<div class="git">
    <h1 id="gitStatus"></h1>
    <h2 id="gitStatusMessage"></h2>
    <h2 id="gitStatusDate"></h2>
</div>

@section header
{
    <script type="text/javascript" src="~/Scripts/git.js"></script>
    <script src="https://status.github.com/api/last-message.json?callback=apiStatus"></script>
}