@section refresh
{
    <meta http-equiv="refresh" content="10" />
}

<div class="git">
    <h1 id="gitStatus"></h1>
    <h2 id="gitStatusMessage"></h2>
    <h2 id="gitStatusDate"></h2>
</div>

@section scripts
{

    <script>
        function apiStatus(data) {

            if (data.status === "good") {
                window.location = "/";
            } else {
                $("#gitStatus").text("GitHub Status: " + data.status);
                $("#gitStatusMessage").text(data.body);
                $("#gitStatusDate").text(moment(data.created_on).format("DD MMMM YYYY hh:mm"));
            }
        }
    </script>
    <script src="https://status.github.com/api/last-message.json?callback=apiStatus"></script>
}