@model LCARS.ViewModels.GitHub.ShippedPullRequest

@section header {
    <link href="/Content/yellowAlert.css" rel="stylesheet" />
}

<img class="git-shipped" src="~/img/ship.jpg" alt="Ship" />

<div id="gitShipped">
    <h1>PR SHIPPED!</h1>
    <div>
        <div>
            <span>#@Model.Number - @Model.Title</span>
        </div>
        <label>Shipped By</label> <span>@Model.ShippedBy</span>
        <label>on</label> <span>@Model.ShippedOn.ToString("dd/MM/yyyy HH:mm")</span>
    </div>
    <div>
        <h2>@Model.AuthorName PLEASE MERGE!!</h2>
    </div>
</div>