<div class="error">
    <div class="left"></div>
    <div class="title">@Text</div>
    <div class="spacer"></div>
    <div class="right"></div>
</div>

@code {
    [Parameter]
    public string Text { get; set; } = "";
}