@font-face {
    font-family: lcars;
    src: url(../fonts/tt0105m_.ttf)
}

@font-face {
    font-family: lcarsslim;
    src: url(../fonts/tt0106m0.ttf)
}

body {
    padding-top: 5px;
    padding-bottom: 20px;
    background: black;
    font-family: lcars;
    font-size: 18pt;
    color: #000000
}

a {
    text-decoration: none;
    color: #000000
}

span {
    display: inline-block;
    width: 125px;
    color: #ffffff;
    vertical-align: top
}

input[type=text], select, textarea {
    color: #000000
}

select:disabled {
    background-color: #ccc;
    color: #565555
}

input[type=button], input[type=submit] {
    margin-top: 10px;
    border: none;
    min-width: 200px;
    border-radius: 20px;
    cursor: pointer;
    color: #000000
}

.confirmation {
    display: none;
    width: 600px;
    text-align: center;
    margin: 10px;
    padding: 5px 0;
    color: #ff9900;
    border: solid 5px #ff9900;
    border-radius: 25px
}

.error {
    display: none;
    width: 600px;
    text-align: center;
    margin: 10px;
    padding: 5px 0;
    color: #940606;
    border: solid 5px #940606;
    border-radius: 25px
}

.admin-button {
    text-align: right;
    margin: 0 215px 20px 0;
}

.template-top-left {
    border-top-left-radius: 25px;
}

.template-top-right, .template-bottom-right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 5px;
}

.template-bottom-left {
    border-bottom-left-radius: 25px;
}

.template-text {
    color: #ff9900;
    text-align: center;
}

.template-menu {
    margin-bottom: 5px;
    padding-top: 20px;
    padding-right: 5px;
    text-align: right;
}

.template-menu-selected {
    width: 40%;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 20px;
    padding-right: 5px;
    text-align: right;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.template-menu-buffer-top {
    margin-bottom: 5px;
    height: 35px;
}

.template-menu-buffer-bottom {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.white-text {
    color: #ffffff;
}

.black {
    background-color: #000000
}

.yellow {
    background-color: #d7a024
}

.purple {
    background-color: #cc99cc
}

.blue {
    background-color: #9999ff
}

.red {
    background-color: #cc6666
}

.orange {
    background-color: #ff9900
}

.apricot {
    background-color: #ff9966;
    color: #000000
}

/* SCREENS */

.admin-screens {
    margin-top: 20px;
}

    .admin-screens div {
        margin: 5px 0;
    }

    .admin-screens div input[type=text] {
        display: inline-block;
        width: 200px;
        line-height: 1
    }

    .admin-screens div input[type=button] {
        min-width: 100px;
    }

    .admin-screens div select {
        display: inline-block;
        width: 200px;
    }

    .admin-screens div textarea {
        display: inline-block;
        width: 500px;
        height: 150px;
        line-height: 1
    }

    .admin-screens div.screen-button {
        display: inline-block;
        border: none;
        min-width: 100px;
        border-radius: 20px;
        text-align: center;
        color: #000000;
        cursor: pointer
    }

    .admin-screens div.details {
        margin-top: 20px
    }

    .admin-screens table#boards {
        margin-top: 20px
    }

    .admin-screens table#boards td.left {
        width: 150px
    }

    .admin-screens table#boards td.left div {
        border-radius: 20px 0 0 20px;
        padding-left: 20px
    }

    .admin-screens table#boards td.middle {
        min-width: 10px;
        padding: 0 10px
    }

    .admin-screens table#boards td.right {
        width: 20px
    }

    .admin-screens table#boards td.right div {
        border-radius: 0 20px 20px 0
    }

/* ISSUES */

.admin-issues {
    margin-top: 20px;
}

    .admin-issues div {
        margin: 5px 0;
    }

    .admin-issues div input[type=text] {
        display: inline-block;
        width: 200px;
        line-height: 1
    }

    .admin-issues div textarea {
        display: inline-block;
        width: 500px;
        height: 150px;
        line-height: 1
    }

    .admin-issues div.issue-button {
        display: inline-block;
        border: none;
        min-width: 100px;
        border-radius: 20px;
        text-align: center;
        color: #000000;
        cursor: pointer
    }

    .admin-issues div.details {
        margin-top: 20px
    }

/* RED ALERT */

.admin-red-alert {
    margin: 50px;
}

/* SETTINGS */

.admin-settings div span {
    margin: 2px 0;
}

.admin-settings div input[type=text] {
    display: inline-block;
    width: 500px;
    line-height: 1;
}
