.purple {
	background-color: #940606
}

.blue {
	background-color: #940606
}

.red {
	background-color: #940606
}

.orange {
	background-color: #940606
}

.apricot {
	background-color: #940606
}

.blueCornerTop {
	background: url(../img/blueCornerTopAlert.png) no-repeat;
	height: 101px;
	width: 152px
}

.blueCornerBottom {
	background: url(../img/blueCornerBottomAlert.png) no-repeat;
	background-position: 15px;
	height: 19px;
	width: 157px
}

.redCornerTop {
	background: url(../img/redCornerTopAlert.png) no-repeat;
	background-position: 15px;
}

.redCornerBottom {
	background: url(../img/redCornerBottomAlert.png) no-repeat
}

.header {
	color: #940606
}

.header span {
	color: #940606
}

table.digits {
	color: #940606
}

table.digits tr.white {
	color: #940606
}

.topRightButton.blueButton {
	background-image: url("/img/redButtonAlert.png")
}

.topRightButton.yellowButton {
	background-image: url("/img/redButtonAlert.png")
}

.topRightButton.redButton {
	background-image: url("/img/redButtonAlert.png")
}

.stats {
	color: #940606
}

.tenant {
	border-top: solid 1px #940606
}

.statusBlue {
	color: #940606
}

.statusAmber {
	color: #940606
}

.statusRed {
	color: #940606
}

/* DESTRUCT */

.destruct {
	color: #940606
}