.purple {
	background-color: #d7a024
}

.blue {
	background-color: #d7a024
}

.red {
	background-color: #d7a024
}

.orange {
	background-color: #d7a024
}

.apricot {
	background-color: #d7a024
}

.blueCornerTop {
	background: url(../img/blueCornerTopAlertYellow.png) no-repeat;
	height: 101px;
	width: 152px
}

.blueCornerBottom {
	background: url(../img/blueCornerBottomAlertYellow.png) no-repeat;
	background-position: 15px;
	height: 19px;
	width: 157px
}

.redCornerTop {
	background: url(../img/redCornerTopAlertYellow.png) no-repeat;
	background-position: 15px;
}

.redCornerBottom {
	background: url(../img/redCornerBottomAlertYellow.png) no-repeat
}

.header {
	color: #d7a024
}

.header span {
	color: #d7a024
}

table.digits {
	color: #d7a024
}

table.digits tr.white {
	color: #d7a024
}

.topRightButton.blueButton {
	background-color: #d7a024
}

.topRightButton.yellowButton {
	background-color: #d7a024
}

.topRightButton.redButton {
	background-color: #d7a024
}

.stats {
	color: #d7a024
}

.tenant {
	border-top: solid 1px #d7a024
}

.statusBlue {
	color: #d7a024
}

.statusAmber {
	color: #d7a024
}

.statusRed {
	color: #d7a024
}

/* DESTRUCT */

.destruct {
	color: #d7a024
}